.footer {
    // border: 1px solid blue;

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 95%;
        margin: auto;
        font-size: 12px;
    }

    &__menu {
        width: 100%;

        @media only screen and (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__copy {
        width: 100%;
        text-align: center;

        @media only screen and (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
            text-align: right;
        }
    }
}
